<<footer id="footer">
    
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li> <a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'menu' %}">Menu</a></li>
                        <li><a href="{% url 'cart' %}">My Cart</a></li>
                    </ul>
                </div>
                <div class="col-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p> Food Ordering System <br> Banepa, 4, Kavre <br><br> <strong>Phone:</strong> +977 9674627722<br> <strong>Email:</strong> foodsystem29@gmail.com<br> </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright"> © Copyright <strong><span>Food Ordering System</span></strong>. All Rights Reserved </div>
    </div>
</footer>