{% extends 'base.html' %}
{% load static %}
{% block title %}
    My Orders
{% endblock title %}
{% block body %}
    {% include 'includes/header1.html' %}
    {% include 'includes/messages.html' %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="box-element pt-4 mt-5">
                    <a class="btn btn-outline-dark" href="{% url 'menu' %}">&#x2190; Back to Menu</a>
                    <h3 class="text-center">Your Order History</h3>
                </div>
                <br>
                <div class="box-element">
                    <div class="cart-row">
                        <div style="flex:2"></div>
                        <div style="flex:2">
                            <strong>Item</strong>
                        </div>
                        <div style="flex:1">
                            <strong>Price</strong>
                        </div>
                        <div style="flex:1">
                            <strong>Quantity</strong>
                        </div>
                        <div style="flex:1">
                            <strong>Total</strong>
                        </div>
                        <div style="flex:1">
                            <strong>Status</strong>
                        </div>
                        <div style="flex:1">
                            <strong>Date Ordered</strong>
                        </div>
                    </div>
                    {% for order in orders %}
                    {% for item in order.orderitem_set.all %}
                        <div class="cart-row">
                            <div style="flex:2">
                                <img class="row-image" src="{{ item.food.imageURL }}">
                            </div>
                            <div style="flex:2">
                                <p>
                                    {{ item.food.name }}
                                </p>
                            </div>
                            <div style="flex:1">
                                <p>
                                    RS {{ item.food.price|floatformat:2 }}
                                </p>
                            </div>
                            <div style="flex:1">
                                <p class="quantity">
                                    {{ item.quantity }}
                                </p>
                            </div>
                            <div style="flex:1">
                                <p>
                                    Rs {{ item.get_total|floatformat:2 }}
                                </p>
                            </div>
                            <div style="flex:1">
                                <p>
                                    {{ order.status}}
                                </p>
                            </div>
                            <div style="flex:1">
                                <p>
                                    {{ order.date_ordered|timesince}} ago
                                </p>
                            </div>
                        </div>
                        {% endfor %}

                        {% empty %}
                        <h1 class='text-center'>No orders Found</h1>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
       

   
{% endblock body %}
